h1 {
  color: #e3097e;
  font-size: 4em;
}

body {
  margin-top: 5%;
  font-family: montserrat, monospace;
  background-image: url(/assets/background.png);
  background-size: cover;
  text-align: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #e3097e;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
}

#joke-container {
  margin-top: 2%;
  min-height: 60px;
}

.joke-question {
  font-weight: bold;
}

.joke-answer {
  padding: 5px;
  margin-top: 0.2%;
  font-style: italic;
}

.carambar img {
  padding-top: 2%;
  max-width: 20%;
}
